--only-binary=:all:
fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
psycopg2-binary
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
httpx
scikit-learn
scipy
numpy
pandas
torch
transformers
gunicorn
uvicorn
slowapi